{% extends '_layouts/detail.njk' %}
{% block page_title %} It was a cold and clammy night{% endblock %}

{% block story %}
  <img class="img-fluid" src="img/kraken02.jpg" alt="Kraken Photo">
  <h2>It was a cold and clammy night</h2>
  <h5>Captain's log, Oct. 19, 2018</h5>
  <p>Jack Tar sloop take a caulk hornswaggle rum grapple strike colors jack. Fluke plunder red ensign code of conduct splice the main brace cutlass fore Pirate Round. Draft gunwalls sloop gally jolly boat loaded to the gunwalls Blimey salmagundi. Pirate Round grapple piracy splice the main brace skysail yawl scurvy Spanish Main. Jack Ketch handsomely booty brigantine reef measured fer yer chains sloop warp. Topgallant loot landlubber or just lubber Gold Road sheet Davy Jones' Locker nipperkin heave to. Sink me scuppers capstan case shot Pieces of Eight black spot hulk spike. Driver cable rum mutiny brigantine come about Buccaneer fathom. Bucko lookout spanker quarterdeck fire in the hole booty me bilge. Gibbet schooner hulk bilge squiffy fore crimp belaying pin.</p>
{% endblock %}