{% extends '_layouts/detail.njk' %}
{% block page_title %} It was a loud and boisterous night{% endblock %}
{% block story %}
  <img class="img-fluid" src="img/kraken03.jpg" alt="Kraken Photo">
  <h2>It was a loud and boisterous night</h2>
  <h5>Captain's log, Oct. 20, 2018</h5>
  <p>Pinnace aft starboard bring a spring upon her cable maroon shrouds. Ballast gaff interloper hempen halter galleon lookout. Gaff belay parrel Jack Tar provost sheet. Marooned Letter of Marque yardarm scourge of the seven seas parley mizzen. Line scallywag swab take a caulk ahoy gaff. Gangplank scurvy rope's end Jolly Roger clap of thunder scallywag. Hulk coxswain grog blossom Sail ho hogshead tender. Ballast lad gabion coxswain lanyard tender.</p>
{% endblock %}