{% extends '_layouts/base.njk' %}

{% block page_title %} Capt. McGillicutty's Blog{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
    <h1>Welcome to The Cove</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <p>
        I have travelled far and wide to find my treasure. Follow me here as I and read my entries as I keep searching. 
      </p>
     {% for entry in data.entries %}
      <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
      <p class="entry-date">{{ entry.date }}</p>
      <hr>
{% endfor %}
    </div>
  </div>
</div>
{% endblock %}
